{% extends "layout.html" %}
{% block extraheadtag %}
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.jqplot.css" />
    <style>
  
    .jqplot-highlighter-tooltip{
        background-color:#fff;
        font-size:14px;
    }
    </style>        
{% endblock %}
{% block content %}
    <!-- MAIN PANEL -->
        <div id="main" role="main">
            <div class="overlay hidden"><center><div style='padding-top: 31%;font-weight: bold;font-size: 1.7em; ' class="loader3"><i class="fa fa-spin fa-refresh fa-3x"></i>&nbsp;&nbsp;Please wait..</div></center></div>
            <!-- RIBBON -->
            <div id="ribbon">
                Vissual
                <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8">
                    <span class="ribbon-button-alignment"> 
                        <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
                            <i class="fa fa-refresh"></i>
                        </span> 
                    </span>
                    <!-- breadcrumb -->
                    <ol class="breadcrumb" id="page-title">
                        <li></li><li></li><li></li>
                    </ol>
                </div>
                 <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 report-padding-ribbon">
                    <span class="report-date-hd">Date : </span>
                    <span class="report-date" id="page-title-date"></span>
                 </div> 
                <!-- end breadcrumb -->
            </div>
            <!-- END RIBBON -->
            
            <!-- MAIN CONTENT -->
            <div id="content">
                <!-- widget grid -->
                    <section id="widget-grid" class="">

                    <!-- row -->
                    <div class="row">

                        <!-- NEW WIDGET START -->
                        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                            <!-- Widget ID (each widget will need unique ID)-->
                            
                            <div class="jarviswidget jarviswidget-sortable" id="wid-id-4" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" role="widget" style="">
                                <!-- widget options:
                                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                                data-widget-colorbutton="false"
                                data-widget-editbutton="false"
                                data-widget-togglebutton="false"
                                data-widget-deletebutton="false"
                                data-widget-fullscreenbutton="false"
                                data-widget-custombutton="false"
                                data-widget-collapsed="true"
                                data-widget-sortable="false"

                                -->
                                <header class="appheader1" role="heading">
                                    <span class="widget-icon"> <i class="fa fa-fw fa-search txt-color-darken"></i> </span>
                                    <h2>Search</h2>

                                    <ul class="nav nav-tabs pull-right in" id="myTab">
                                        <li class="active">
                                            <a data-toggle="tab" href="#s1"><i class="fa fa-fw fa-search"></i> <span class="hidden-mobile hidden-tablet">Search</span></a>
                                        </li>

                                        <li class="">
                                            <a data-toggle="tab" href="#s2"><i class="fa fa-file"></i> <span class="hidden-mobile hidden-tablet">Advanced Filter</span></a>
                                        </li>
                                    </ul>

                                <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>

                                <!-- widget div-->
                                <div class="no-padding" role="content">
                                    <!-- widget edit box -->
                                    <div class="jarviswidget-editbox">

                                        test
                                    </div>
                                    <!-- end widget edit box -->

                                    <div class="widget-body">
                                        <!-- content -->
                                        <div id="myTabContent" class="tab-content">
                                            <div class="tab-pane fade padding-10 no-padding-bottom active in" id="s1">
                                                

                                                <div class="input-group input-group-lg hidden-mobile">
                                    <div class="input-group-btn">
                                        <button type="button" class="filter-btn btn btn-default dropdown-toggle" data-val = 'Cast' data-toggle="dropdown">
                                            Cast <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li class="active">
                                                <a class="filterOp" href="javascript:void(0)" id="Cast">Cast</a>
                                            </li>
                                            
                                            <li>
                                                <a class="filterOp" href="javascript:void(0)" id="City">Current City</a>
                                            </li>

                                            <li>
                                                <a class="filterOp" href="javascript:void(0)" id="pctange">Percentage</a>
                                            </li>
                                            
                                            <li>
                                                <a class="filterOp" href="javascript:void(0)" id="Passout">Passout year</a>
                                            </li>
                                            <li>
                                                <a class="filterOp" href="javascript:void(0)" id="Age">Age</a>
                                            </li>
                                            <li>
                                                <a class="filterOp" href="javascript:void(0)" id="Gap">Gap</a>
                                            </li>
                                            <li>
                                                <a class="filterOp" href="javascript:void(0)" id="Course">Course</a>
                                            </li>
                                            <li>
                                                <a class="filterOp" href="javascript:void(0)" id="University">University</a>
                                            </li>
                                        </ul>
                                    </div>


                                    <select class="form-control search-project input-lg" type="text" placeholder="Search again..." id="search-project">
                                        <option>ST</option>
                                    </select>
                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-default getSearch">
                                            &nbsp;&nbsp;&nbsp;<i class="fa fa-fw fa-search fa-lg"></i>&nbsp;&nbsp;&nbsp;
                                        </button>
                                    </div>
                                </div>

                                <br>

                                <div class="jarviswidget" id="wid-id-6" data-widget-editbutton="false">

                                    <header>
                                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                                        <h2>Stats</h2>
                                    </header>

                                    <div>
                                    <form class="smart-form">
                                                    <span class="appDetails">
                                                        <fieldset>
                                                
                                                        <section>
                                                            <label class="label">Application Recieved :
                                                                <span class="totalApp">
                                                                200
                                                                </span>
                                                            </label>  
                                                        </section>

                                                        <section>
                                                            <label class="label">Male  Applicants:
                                                                <span class="maleApp">
                                                                93
                                                                </span>
                                                            </label>  
                                                        </section>

                                                        <section>
                                                            <label class="label">Female Applicants :
                                                                <span class="femaleApp">
                                                                107
                                                                </span>
                                                            </label>  
                                                        </section>

                                                        </fieldset>
                                                    </span>
                                                </form>
                                            </div>

                                </div>


                                <div class="jarviswidget" id="wid-id-6" data-widget-editbutton="false">
                                <!-- widget options:
                                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                                data-widget-colorbutton="false"
                                data-widget-editbutton="false"
                                data-widget-togglebutton="false"
                                data-widget-deletebutton="false"
                                data-widget-fullscreenbutton="false"
                                data-widget-custombutton="false"
                                data-widget-collapsed="true"
                                data-widget-sortable="false"

                                -->
                                <header class='Barchart'>
                                    <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                                    <h2> </h2>

                                </header>

                                <!-- widget div-->
                                <div>

                                    <!-- widget edit box -->
                                    <div class="jarviswidget-editbox">
                                        <!-- This area used as dropdown edit box -->

                                    </div>
                                    <!-- end widget edit box -->

                                    <!-- widget content -->
                                    <div class="widget-body no-padding">

                                        <div id="drawbar" class="chart d3bar"></div>

                                    </div>
                                    <!-- end widget content -->



                                </div>
                                <!-- end widget div -->

                            </div>


                        </div>
                                            <!-- end s1 tab pane -->

                                            <div class="tab-pane fade" id="s2">
                                                <div class="widget-body-toolbar bg-color-white">

                
<form class="smart-form">
                                                    <header>
                                                        Filter By Mutiple Values
                                                    </header>

                                                    <fieldset>
                                                
                                                    <section class="col col-3">
                                                        <label class="select">
                                                            <select name="gender">
                                                                <option value="0" selected="" disabled="">Gender</option>
                                                                <option value="1">Male</option>
                                                                <option value="2">Female</option>
                                                                
                                                            </select> <i></i> </label>
                                                    </section>

                                                    <section class="col col-3">
                                                        <label class="select">
                                                            <select name="gender">
                                                                <option value="0" selected="" disabled="">City</option>
                                                                <option value="1">Pune</option>
                                                                <option value="2">Ahmedaabad</option>
                                                                <option value="3">Mumbai</option>
                                                            </select> <i></i> </label>
                                                    </section>

                                                    <section class="col col-3">
                                                        <label class="select">
                                                            <select name="gender">
                                                                <option value="0" selected="" disabled="">Cast</option>
                                                                <option value="1">Open</option>
                                                                <option value="2">SC</option>
                                                                <option value="3">ST</option>
                                                            </select> <i></i> </label>
                                                    </section>

                                                    <section class="col col-3">
                                                        <label class="select">
                                                            <select name="gender">
                                                                <option value="0" selected="" disabled="">Merit</option>
                                                                <option value="1">Less than 60</option>
                                                                <option value="2">60-80</option>
                                                                <option value="3"80-100</option>
                                                            </select> <i></i> </label>
                                                    </section>
                                                    <section class="col col-3">
                                                        
                                                        <button type="button" class="btn btn-primary searchApp">
                                                        Submit
                                                        </button>
                                                    

                                                    </fieldset>
                                                </form><br>

                                                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-99" data-widget-editbutton="false">
                                <!-- widget options:
                                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                
                                data-widget-colorbutton="false"
                                data-widget-editbutton="false"
                                data-widget-togglebutton="false"
                                data-widget-deletebutton="false"
                                data-widget-fullscreenbutton="false"
                                data-widget-custombutton="false"
                                data-widget-collapsed="true"
                                data-widget-sortable="false"
                
                                -->
                                <header>
                                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                                    <h2 class="dt">Standard Data Tables </h2>
                
                                </header>
                
                                <!-- widget div-->
                                <div>
                
                                    <!-- widget edit box -->
                                    <div class="jarviswidget-editbox">
                                        <!-- This area used as dropdown edit box -->
                
                                    </div>
                                    <!-- end widget edit box -->
                
                                    <!-- widget content -->
                                    <div class="widget-body no-padding">
                
                                        <table id="dt_basic" class="table table-striped table-bordered table-hover" width="100%">
                                            <thead>                         
                                                <tr>
                                                    <th data-hide="phone">ID</th>
                                                    <th data-class="expand"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> Name</th>
                                                    <th data-hide="phone"><i class="fa fa-fw fa-phone text-muted hidden-md hidden-sm hidden-xs"></i> Phone</th>
                                                    <th>Company</th>
                                                    <th data-hide="phone,tablet"><i class="fa fa-fw fa-map-marker txt-color-blue hidden-md hidden-sm hidden-xs"></i> Zip</th>
                                                    <th data-hide="phone,tablet">City</th>
                                                    <th data-hide="phone,tablet"><i class="fa fa-fw fa-calendar txt-color-blue hidden-md hidden-sm hidden-xs"></i> Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>Jennifer</td>
                                                    <td>1-342-463-8341</td>
                                                    <td>Et Rutrum Non Associates</td>
                                                    <td>35728</td>
                                                    <td>Fogo</td>
                                                    <td>03/04/14</td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>Clark</td>
                                                    <td>1-516-859-1120</td>
                                                    <td>Nam Ac Inc.</td>
                                                    <td>7162</td>
                                                    <td>Machelen</td>
                                                    <td>03/23/13</td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>Brendan</td>
                                                    <td>1-724-406-2487</td>
                                                    <td>Enim Commodo Limited</td>
                                                    <td>98611</td>
                                                    <td>Norman</td>
                                                    <td>02/13/14</td>
                                                </tr>
                                                <tr>
                                                    <td>4</td>
                                                    <td>Warren</td>
                                                    <td>1-412-485-9725</td>
                                                    <td>Odio Etiam Institute</td>
                                                    <td>10312</td>
                                                    <td>Sautin</td>
                                                    <td>01/01/13</td>
                                                </tr>
                                                <tr>
                                                    <td>5</td>
                                                    <td>Rajah</td>
                                                    <td>1-849-642-8777</td>
                                                    <td>Neque Ltd</td>
                                                    <td>29131</td>
                                                    <td>Glovertown</td>
                                                    <td>02/16/13</td>
                                                </tr>
                                                <tr>
                                                    <td>6</td>
                                                    <td>Demetrius</td>
                                                    <td>1-470-329-9627</td>
                                                    <td>Euismod In Ltd</td>
                                                    <td>1883</td>
                                                    <td>Kapolei</td>
                                                    <td>03/15/13</td>
                                                </tr>
                                                <tr>
                                                    <td>7</td>
                                                    <td>Keefe</td>
                                                    <td>1-188-191-2346</td>
                                                    <td>Molestie Industries</td>
                                                    <td>2211BM</td>
                                                    <td>Modena</td>
                                                    <td>07/08/13</td>
                                                </tr>
                                                <tr>
                                                    <td>8</td>
                                                    <td>Leila</td>
                                                    <td>1-663-655-8904</td>
                                                    <td>Est LLC</td>
                                                    <td>75286</td>
                                                    <td>Hondelange</td>
                                                    <td>12/09/12</td>
                                                </tr>
                                                <tr>
                                                    <td>9</td>
                                                    <td>Fritz</td>
                                                    <td>1-598-234-7837</td>
                                                    <td>Et Ultrices Posuere Institute</td>
                                                    <td>2324</td>
                                                    <td>Monte San Pietrangeli</td>
                                                    <td>12/29/12</td>
                                                </tr>
                                                <tr>
                                                    <td>10</td>
                                                    <td>Cassady</td>
                                                    <td>1-212-965-8381</td>
                                                    <td>Vitae Erat Vel Company</td>
                                                    <td>5898</td>
                                                    <td>Monte San Pietrangeli</td>
                                                    <td>12/29/12</td>
                                                    </tr>
                                                <tbody>
                                                </table>
</div></div></div>



                
                            
                                                
                                            </div>
                                            <!-- end s2 tab pane -->

                                        </div>

                                        <!-- end content -->
                                    </div>

                                </div>
                                <!-- end widget div -->
                            </div>
                            

                            

                            


                    
            <!-- end widget grid -->
            </div><!-- END MAIN CONTENT -->

        </div>
        <!-- END MAIN PANEL -->
{% endblock %}

{% block extrascript %}

    <script type="text/javascript">
        
        // DO NOT REMOVE : GLOBAL FUNCTIONS!
        
        $(document).ready(function() {
            
            pageSetUp();
            
            /* // DOM Position key index //
        
            l - Length changing (dropdown)
            f - Filtering input (search)
            t - The Table! (datatable)
            i - Information (records)
            p - Pagination (paging)
            r - pRocessing 
            < and > - div elements
            <"#id" and > - div with an id
            <"class" and > - div with a class
            <"#id.class" and > - div with an id and class
            
            Also see: http://legacy.datatables.net/usage/features
            */  
    
            /* BASIC ;*/
                var responsiveHelper_dt_basic = undefined;
                var responsiveHelper_datatable_fixed_column = undefined;
                var responsiveHelper_datatable_col_reorder = undefined;
                var responsiveHelper_datatable_tabletools = undefined;
                
                var breakpointDefinition = {
                    tablet : 1024,
                    phone : 480
                };
    
                $('#dt_basic').dataTable({
                    "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+
                        "t"+
                        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                    "autoWidth" : true,
                    "preDrawCallback" : function() {
                        // Initialize the responsive datatables helper once.
                        if (!responsiveHelper_dt_basic) {
                            responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_basic'), breakpointDefinition);
                        }
                    },
                    "rowCallback" : function(nRow) {
                        responsiveHelper_dt_basic.createExpandIcon(nRow);
                    },
                    "drawCallback" : function(oSettings) {
                        responsiveHelper_dt_basic.respond();
                    }
                });
    
            /* END BASIC */
            
            /* COLUMN FILTER  */
            var otable = $('#datatable_fixed_column').DataTable({
                //"bFilter": false,
                //"bInfo": false,
                //"bLengthChange": false
                //"bAutoWidth": false,
                //"bPaginate": false,
                //"bStateSave": true // saves sort state using localStorage
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6 hidden-xs'f><'col-sm-6 col-xs-12 hidden-xs'<'toolbar'>>r>"+
                        "t"+
                        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                "autoWidth" : true,
                "preDrawCallback" : function() {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_datatable_fixed_column) {
                        responsiveHelper_datatable_fixed_column = new ResponsiveDatatablesHelper($('#datatable_fixed_column'), breakpointDefinition);
                    }
                },
                "rowCallback" : function(nRow) {
                    responsiveHelper_datatable_fixed_column.createExpandIcon(nRow);
                },
                "drawCallback" : function(oSettings) {
                    responsiveHelper_datatable_fixed_column.respond();
                }       
            
            });
            
            // custom toolbar
            $("div.toolbar").html('<div class="text-right"><img src="img/logo.png" alt="SmartAdmin" style="width: 111px; margin-top: 3px; margin-right: 10px;"></div>');
                   
            // Apply the filter
            $("#datatable_fixed_column thead th input[type=text]").on( 'keyup change', function () {
                
                otable
                    .column( $(this).parent().index()+':visible' )
                    .search( this.value )
                    .draw();
                    
            } );
            /* END COLUMN FILTER */   
        
            /* COLUMN SHOW - HIDE */
            $('#datatable_col_reorder').dataTable({
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'C>r>"+
                        "t"+
                        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
                "autoWidth" : true,
                "preDrawCallback" : function() {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_datatable_col_reorder) {
                        responsiveHelper_datatable_col_reorder = new ResponsiveDatatablesHelper($('#datatable_col_reorder'), breakpointDefinition);
                    }
                },
                "rowCallback" : function(nRow) {
                    responsiveHelper_datatable_col_reorder.createExpandIcon(nRow);
                },
                "drawCallback" : function(oSettings) {
                    responsiveHelper_datatable_col_reorder.respond();
                }           
            });
            
            /* END COLUMN SHOW - HIDE */
    
            /* TABLETOOLS */
            $('#datatable_tabletools').dataTable({
                
                // Tabletools options: 
                //   https://datatables.net/extensions/tabletools/button_options
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'T>r>"+
                        "t"+
                        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
                "oTableTools": {
                     "aButtons": [
                     "copy",
                     "csv",
                     "xls",
                        {
                            "sExtends": "pdf",
                            "sTitle": "SmartAdmin_PDF",
                            "sPdfMessage": "SmartAdmin PDF Export",
                            "sPdfSize": "letter"
                        },
                        {
                            "sExtends": "print",
                            "sMessage": "Generated by SmartAdmin <i>(press Esc to close)</i>"
                        }
                     ],
                    "sSwfPath": "js/plugin/datatables/swf/copy_csv_xls_pdf.swf"
                },
                "autoWidth" : true,
                "preDrawCallback" : function() {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_datatable_tabletools) {
                        responsiveHelper_datatable_tabletools = new ResponsiveDatatablesHelper($('#datatable_tabletools'), breakpointDefinition);
                    }
                },
                "rowCallback" : function(nRow) {
                    responsiveHelper_datatable_tabletools.createExpandIcon(nRow);
                },
                "drawCallback" : function(oSettings) {
                    responsiveHelper_datatable_tabletools.respond();
                }
            });
            
            /* END TABLETOOLS */
        
        })

        </script>


    <script src="/static/js/plugin/morris/raphael.min.js"></script>
    <script src="/static/js/plugin/morris/morris.min.js"></script>
    <script src="/static/js/admin.js"></script>
        <!--[if lt IE 9]><script type="text/javascript" src="/static/js/plugin/jqplot/excanvas.min.js"></script><![endif]-->
    <script type="text/javascript" src="/static/js/plugin/jqplot/jquery.jqplot.min.js"></script>
    
    <script type="text/javascript" src="/static/js/plugin/jqplot/jqplot.barRenderer.min.js"></script>
    <script type="text/javascript" src="/static/js/plugin/jqplot/jqplot.categoryAxisRenderer.min.js"></script>
    <script type="text/javascript" src="/static/js/plugin/jqplot/jqplot.pointLabels.min.js"></script>
    <script type="text/javascript" src="/static/js/plugin/jqplot/jqplot.highlighter.min.js"></script>
    <script type="text/javascript">
        $('#ribbon').empty();

    </script>
  
    {% include "handlebars/common_handlebar.html" %}
{% endblock %}