<!DOCTYPE html>
<html lang="en-us">
    <head>
        {% block headtag %}
            {% include "headtags.html" %}
        {% endblock %}
        
        {% block extraheadtag %}
            
        {% endblock %}
    </head>
    <body>
        {% block header%}
            {% include "header.html" %}
        {% endblock %}
        
        {% block navigation %}
            {% include "navigation.html" %}
        {% endblock %}
        
        {% block content %}
            {% include "content.html" %}
        {% endblock %}
        
        {% block footer %}
            {% include "footer.html" %}
        {% endblock %}
        
        {% block scripts %}
            {% include "scripts.html" %}
        {% endblock %}
        
        {% block extrascript %}
		{% endblock %}
    </body>
</html>
    

	

	