<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<style type="text/css">

/* -------------------------------------
        GLOBAL
------------------------------------- */
* {
    
}

img {
    
}

body {
    
}
/* -------------------------------------
        ELEMENTS
------------------------------------- */
a {
    
}
.header{
    
}
.btn-primary {
    
}

.btn-secondary {
    text-decoration: none;
    color: #FFF;
    background-color: #aaa;
    border: solid #aaa;
    border-width: 10px 20px;
    line-height: 2;
    font-weight: bold;
    margin-right: 10px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    border-radius: 25px;
}

.last {
    margin-bottom: 0;
}

.first {
    margin-top: 0;
}

.padding {
    padding: 10px 0;
}


/* -------------------------------------
        BODY
------------------------------------- */
table.body-wrap {
    
}

table.body-wrap .container {
    
}


/* -------------------------------------
        FOOTER
------------------------------------- */
table.footer-wrap {
    
}

.footer-wrap .container p {
    font-size: 12px;
    color: #666;
    
}

table.footer-wrap a {
    
}


/* -------------------------------------
        TYPOGRAPHY
------------------------------------- */
h1, h2, h3 {
    
}

h1 {
    font-size: 36px;
}
h2 {
    font-size: 28px;
}
h3 {
    font-size: 22px;
}

p, ul, ol {
    
}

ul li, ol li {
    margin-left: 5px;
    list-style-position: inside;
}
h6{

}
/* ---------------------------------------------------
        RESPONSIVENESS
        Nuke it from orbit. It's the only way to be sure.
------------------------------------------------------ */

/* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
.container {
    
}

/* Set the padding on the td rather than the div for Outlook compatibility */
.body-wrap .container {
    
}

/* This should also be a block element, so that it will fill 100% of the .container */
.content {
    
}

/* Let's make sure tables in the content area are 100% wide */
.content table {
    
}
.space{
    
}
.a-none{
    
}
.table-container{
    
    

    
}

</style>
</head>
<body style="margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 100%;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    width: 100%!important;
    height: 100%;">
    <!-- body -->
    <!-- header -->
    
    
     
    <!-- header -->
    
    
    
    
    
    <table class="body-wrap" style="width: 100%;font-family: open,sans-serif;
                                padding: 20px;">
        <tr>
            <td></td>
            <td class="container table-container" style="display: block!important;
    max-width: 600px!important;
    margin: 0 auto!important; 
    clear: both!important;padding: 20px;">
                 
                <!-- content -->
                <div class="content" style="max-width: 600px;
    margin: 0 auto;
    display: block;">
                <table style="width: 100%;">
                    <tr>
                        <td style="text-align:left;">   
                            <a style="text-decoration: none;">
                            <center>
                            <div class="header-logo" style="font-family: open,sans-serif; font-size: 55px;margin-bottom: 8px;">
                            <span class="first-letter" style="color: black;font-weight: 500;">Student Registation</span>
                            </div>
                            </center>
                            </a>
                        </td>
                    </tr>
                    
                    
                    <tr>
                        <td> 
                        <br>
                            <br>  
                            Dear {{ name }},<br>
                            
                            Greetings of the day,
                        </td>
                    </tr>
                    
                    <tr>
                        <td> 
                            {{ name }} You've successfully registered yourself for <span style="font-weight: bold;">{{ course }}</span> Your Application id is <span style="font-weight: bold;"> {{ Appid }}</span>.<br>
                            
                            You can know your application status by entering this appid on  our website
                            <br>
                            <br>                            
                            <br>
                            
                            Thanks & Regards,<br>
                                Team Heroku<br>
                                <a href="stark-plateau-4869.herokuapp.com">www.myapp.com</a>
                            
                        </td>
                        
                    </tr>
                    

                    </tr>   
                    
                    
                    
                </table>
                </div>
                <!-- /content -->
                
            </td>
            <td></td>
        </tr>
    </table>
    <!-- /body -->

    <!-- footer -->
    <table class="footer-wrap" style="width: 100%;  
                                clear: both!important;">
        <tr>
            <td></td>
            <td class="container">
                <div class="content">
                    <table>
                        <tr>
                            <td align="center">
                                
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
            <td></td>
        </tr>
    </table>
    <!-- /footer -->
</body>
</html>    
