<!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
		<script data-pace-options='{ "restartOnRequestAfter": true }' src="/static/js/plugin/pace/pace.min.js"></script>

		<!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script>
			if (!window.jQuery) {
				document.write('<script src="/static/js/libs/jquery-2.0.2.min.js"><\/script>');
			}
		</script>

		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
		<script>
			if (!window.jQuery.ui) {
				document.write('<script src="/static/js/libs/jquery-ui-1.10.3.min.js"><\/script>');
			}
		</script>

		<!-- IMPORTANT: APP CONFIG -->
		<script src="/static/js/app.config.js"></script>

		<!-- JS TOUCH : include this plugin for mobile drag / drop touch events-->
		<script src="/static/js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script> 

		<!-- BOOTSTRAP JS -->
		<script src="/static/js/bootstrap/bootstrap.min.js"></script>
		
		<!-- Handlebars -->
	    <script src="/static/js/plugin/handlebars/handlebars.js"></script>
	    
	    
        
	    
		<!-- MOMENT JS -->
        <script src="/static/js/plugin/moment/moment.js"></script>
        
        <!--  JQUERY NUMBER -->
        <script src="/static/js/plugin/number/jquery.number.min.js"></script>
      


    <script src="/static/js/plugin/highchart/highcharts.js"></script>
    <script src="/static/js/plugin/highchart/modules/exporting.js"></script>

		<!-- CUSTOM NOTIFICATION -->
		<script src="/static/js/notification/SmartNotification.min.js"></script>

		<!-- JARVIS WIDGETS -->
		<script src="/static/js/smartwidgets/jarvis.widget.min.js"></script> 

		<!-- EASY PIE CHARTS -->
		<script src="/static/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>

		<!-- SPARKLINES -->
		<script src="/static/js/plugin/sparkline/jquery.sparkline.min.js"></script>

		<!-- JQUERY VALIDATE -->
		<script src="/static/js/plugin/jquery-validate/jquery.validate.min.js"></script>

		<!-- JQUERY MASKED INPUT -->
		<script src="/static/js/plugin/masked-input/jquery.maskedinput.min.js"></script>

		<!-- JQUERY SELECT2 INPUT -->
		<script src="/static/js/plugin/select2/select2.min.js"></script>

		<!-- JQUERY UI + Bootstrap Slider -->
		<script src="/static/js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>

		<!-- browser msie issue fix -->
		<script src="/static/js/plugin/msie-fix/jquery.mb.browser.min.js"></script>

		<!-- FastClick: For mobile devices -->
		<script src="/static/js/plugin/fastclick/fastclick.min.js"></script>

		<!-- D3 pie js -->
		<script src="/static/js/plugin/d3pie/d3.min.js"></script>
		<script src="/static/js/plugin/d3pie/d3pie.js"></script>
		

		<!--[if IE 8]>

		<h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

		<![endif]-->

		<!-- Demo purpose only 
		<script src="/static/js/demo.min.js"></script>-->

		<!-- MAIN APP JS FILE -->
		<script src="/static/js/app.min.js"></script>
		

		<!-- ENHANCEMENT PLUGINS : NOT A REQUIREMENT -->
		<!-- Voice command : plugin -->
		

		<!-- PAGE RELATED PLUGIN(S) 
		<!-- Flot Chart Plugin: Flot Engine, Flot Resizer, Flot Tooltip -->
		<script src="/static/js/plugin/flot/jquery.flot.cust.min.js"></script>
		<script src="/static/js/plugin/flot/jquery.flot.resize.min.js"></script>
		<script src="/static/js/plugin/flot/jquery.flot.fillbetween.min.js"></script>
		<script src="/static/js/plugin/flot/jquery.flot.orderBar.min.js"></script>
		<script src="/static/js/plugin/flot/jquery.flot.pie.min.js"></script>
		<script src="/static/js/plugin/flot/jquery.flot.tooltip.min.js"></script>
        
        <!-- PAGE RELATED PLUGIN(S) -->
		<script src="/static/js/plugin/datatables/jquery.dataTables.min.js"></script>
		<script src="/static/js/plugin/datatables/dataTables.colVis.min.js"></script>
		<script src="/static/js/plugin/datatables/dataTables.tableTools.min.js"></script>
		<script src="/static/js/plugin/datatables/dataTables.bootstrap.min.js"></script>
		<script src="/static/js/plugin/datatable-responsive/datatables.responsive.min.js"></script>
        <script src="/static/js/main.js"></script>
		<script type="text/javascript">

			$(document).ready(function() {
			
			////pageSetUp();
			
			/* // DOM Position key index //
		
			l - Length changing (dropdown)
			f - Filtering input (search)
			t - The Table! (datatable)
			i - Information (records)
			p - Pagination (paging)
			r - pRocessing 
			< and > - div elements
			<"#id" and > - div with an id
			<"class" and > - div with a class
			<"#id.class" and > - div with an id and class
			
			Also see: http://legacy.datatables.net/usage/features
			*/	
	
			/* BASIC ;*/
				var responsiveHelper_dt_basic = undefined;
				var responsiveHelper_datatable_fixed_column = undefined;
				var responsiveHelper_datatable_col_reorder = undefined;
				var responsiveHelper_datatable_tabletools = undefined;
				
				var breakpointDefinition = {
					tablet : 1024,
					phone : 480
				};
	
				
			
			
		
		})
		
		</script>

		<!-- Your GOOGLE ANALYTICS CODE Below -->
		<script type="text/javascript">
			var _gaq = _gaq || [];
				_gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
				_gaq.push(['_trackPageview']);
			
			(function() {
				var ga = document.createElement('script');
				ga.type = 'text/javascript';
				ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(ga, s);
			})();


			var date_Obj = new Date();
			var year = date_Obj.getFullYear();
			$('#report4-nav').attr('href' , '/report4/' + (year).toString() + '/')
			$('#report5-nav').attr('href' , '/report5/' + (year).toString() + '/')
			
		</script>
		<link rel="stylesheet" type="text/css" media="screen" href="/static/js/plugin/select2/select2.css">
		<link rel="stylesheet" type="text/css" media="screen" href="/static/js/plugin/select2/select2-bootstrap.css">